<p id="notice"><%= notice %></p>

<p>
  <strong>Timestamp:</strong>
  <%= @k_measurement.timestamp %>
</p>

<p>
  <strong>K1:</strong>
  <%= @k_measurement.k1 %>
</p>

<p>
  <strong>K2:</strong>
  <%= @k_measurement.k2 %>
</p>

<p>
  <strong>Axis:</strong>
  <%= @k_measurement.axis %>
</p>

<p>
  <strong>White to white:</strong>
  <%= @k_measurement.white_to_white %>
</p>

<p>
  <strong>Pupil x:</strong>
  <%= @k_measurement.pupil_x %>
</p>

<p>
  <strong>Pupil y:</strong>
  <%= @k_measurement.pupil_y %>
</p>

<p>
  <strong>Pupil rx:</strong>
  <%= @k_measurement.pupil_rx %>
</p>

<p>
  <strong>Pupil ry:</strong>
  <%= @k_measurement.pupil_ry %>
</p>

<p>
  <strong>Pupil q:</strong>
  <%= @k_measurement.pupil_q %>
</p>

<p>
  <strong>Limbus x:</strong>
  <%= @k_measurement.limbus_x %>
</p>

<p>
  <strong>Limbus y:</strong>
  <%= @k_measurement.limbus_y %>
</p>

<p>
  <strong>Limbus rx:</strong>
  <%= @k_measurement.limbus_rx %>
</p>

<p>
  <strong>Limbus ry:</strong>
  <%= @k_measurement.limbus_ry %>
</p>

<p>
  <strong>Limbus q:</strong>
  <%= @k_measurement.limbus_q %>
</p>

<p>
  <strong>Cr x:</strong>
  <%= @k_measurement.cr_x %>
</p>

<p>
  <strong>Cr y:</strong>
  <%= @k_measurement.cr_y %>
</p>

<p>
  <strong>Cr q:</strong>
  <%= @k_measurement.cr_q %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @k_measurement.patient_id %>
</p>

<%= link_to 'Edit', edit_k_measurement_path(@k_measurement) %> |
<%= link_to 'Back', k_measurements_path %>
